<div class = "question ps-3"> <%=@question %>
<div class = "pb-3">- You</div>
</div>
<div class = "result ps-3 mt-3">
<div class = "asa"><%= @result %></div>
<div class = "mb-3">- Your coach</div>
</div>
<%= link_to "Ask a new question", ask_path %>
